<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="./assets/1.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>FACIAL Menu</h1>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Marketing messaging and featurettes
      ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<br>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">

            <h3>リラクゼーション・フェイシャルコース</h3>
            <p>料金</p>
            <p>60min ¥ 1,4000</p>
            <p>90min ¥ 22,000</p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <h3>フェイシャルエステ・ベーシックコース</h3>
            <p>料金</p>
            <p>60min ¥ 5000</p>
            <p>90min ¥ 8000</p>

        </div>
        <!-- /.col-lg-4 -->
        <!-- <div class="col-lg-4">

            <h2>Heading</h2>
            <p>料金</p>
            <p>60min ¥ 23,000</p>
            <p>90min ¥27,000</p>

        </div>
        /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">リラクゼーション・フェイシャルコース <span class="text-muted"></span></h2>
            <p class="lead">リンパマッサージすることで、老廃物を排出し血行促進をしてむくみを解消、小顔効果も発揮！ 血行やリンパの流れの不良・詰まり、老廃物の蓄積によって顔まで栄養が行き届かなくなると顔のくすみの原因となります。</p>
        </div>
        <div class="col-md-5">
            <!-- <img class="featurette-image img-fluid mx-auto" src="./assets/img/500x500.svg" alt="Generic placeholder image"> -->
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">フェイシャルエステ・ベーシックコース <span class="text-muted"></span></h2>
            <p class="lead">ﾍﾞｰｯｼｯｸｺｰｽを受けることで顔の筋肉が刺激されるため血行もよくなります。二重あごやたるみなどで悩んでいる方には、特に効果的です</p>
        </div>
        <div class="col-md-5 order-md-1">
            <!-- <img class="featurette-image img-fluid mx-auto" src="./assets/img/500x500.svg" alt="Generic placeholder image"> -->
        </div>
    </div>

    <hr class="featurette-divider">
    <!-- 
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="./assets/0.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider"> -->

    <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>