<router-outlet>


</router-outlet>

<app-navbar></app-navbar>sets/test2.png" style="height: 200px" class="img-fluid" alt="Responsive image">
</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">予約</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">店舗一覧</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">メニュー</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">お問い合わ</a>
            <!-- <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">お問い合わせ</a>元 -->
        </li>
    </ul>
</div>
</div>
</nav>