<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="./assets/0.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>BODY Menu</h1>
                    <p></p>

                </div>
            </div>
        </div>
    </div>
</div>



<!-- Marketing messaging and featurettes
          ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->


<br>
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">

            <h3>アヴィヤンガ(オイル)</h3>
            <p>料金</p>
            <p>60min ¥ 23,000</p>
            <p>90min ¥27,000</p>


        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <h3>バリニーズ・マッサージ</h3>
            <p>料金</p>
            <p>60min ¥ 9,000</p>
            <p>90min ¥ 13,000</p>

        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">

            <h3>トラディショナルマッサージ</h3>
            <p>料金</p>
            <p>60min ¥ 8,000</p>
            <p>90min ¥ 10,000</p>

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">アヴィヤンガ(オイル) <span class="text-muted"></span></h2>
            <p class="lead">主にごま油やハーブ系のオイルを使ってボディを揉みほぐすことで、体内に滞っている老廃物をケアし、体のバランスを整えます。 そして深くリラックスし自然治癒力も高めてくれます</p>
        </div>
        <div class="col-md-5">
            <img class="rounded-circle" src="./assets/body2.jpg" alt="Generic placeholder image" width="140" height="140">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">　バリニーズ・マッサージ <span class="text-muted"></span></h2>
            <p class="lead">バリニーズ・マッサージは筋肉痛や、普段長時間座っている人におすすめです。 筋肉痛や肩こり、全身を整えてくれたりストレスをやらわげます</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto" src="./assets/body1.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">トラディショナルマッサージ<span class="text-muted"></span></h2>
            <p class="lead">トラディショナルマッサージはアロマオイルを使ったバリ式マッサージです！ 足先から首肩まで全身のリンパの流れに沿ってコリをほぐし、むくみを和らげます</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="./assets/body0.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
<!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>