<div class="section">
    <div class="container tim-container">
        <div class="tim-title">
            <h3>Typography</h3>
            <br/>
        </div>
        <div id="typography">
            <div class="row">
                <div class="typography-line">
                    <h2>
                        <span class="note">商号</span>株式会社くちびるding
                        <!-- <p class="text-muted">株式会社くちびるding</p> -->
                    </h2>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">設立</span>
                        <p class="text-muted">2016年１０月０１日</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">資本金</span>
                        <p class="text-muted">1000万 </p>

                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">本社所在地</span>
                        <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXXXX</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">TEL</span>
                        <p class="text-muted">044-444-44444</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">FAX</span>
                        <p class="text-muted">044-444-4443</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">代表者</span>
                        <p class="text-muted">楢崎　一樹</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <h5>
                        <span class="note">事業内容</span>
                        <p>飲食店の経営 飲食店の運営企画 エステティックサロンの運営及び美容関連業務</p>
                    </h5>
                </div>
                <div class="typography-line">
                    <span class="note">グループ会社</span>
                    <blockquote class="blockquote">
                        <p class="mb-0"> GROUP</p>

                    </blockquote>
                </div>
                <div class="typography-line">
                    <span class="note"></span>
                    <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXX株式会社</p>
                </div>
                <div class="typography-line">
                    <span class="note"></span>
                    <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXX株式会社</p>
                </div>
                <div class="typography-line">
                    <span class="note"></span>
                    <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXX株式会社</p>
                </div>
                <div class="typography-line">
                    <span class="note"></span>
                    <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXX株式会社</p>
                </div>
                <div class="typography-line">
                    <span class="note"></span>
                    <p class="text-muted">XXXXXXXXXXXXXXXXXXXXXXX株式会社</p>
                </div>

            </div>
        </div>
        <br/>
        <!-- <div id="images">
            <div class="container">
                <div class="tim-title">
                    <h3>Images</h3>
                </div>
                <div class="row">
                    <div class="col-xs-8 col-sm-6 col-md-3">
                        <h4 class="images-title">Rounded Image</h4>
                        <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                        <div class="img-details">
                            <div class="author">
                                <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                            </div>
                            <p>Chet Faker</p>
                        </div>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <h4 class="images-title">Circle Image</h4>
                        <img src="assets/img/faces/joe-gardner-2.jpg" class="img-circle img-no-padding img-responsive" alt="Rounded Image">
                        <p class="text-center">Joe Gardner</p>
                    </div>
                    <div class="col-xs-6  col-sm-3 col-md-2 offset-md-1">
                        <h4 class="images-title">Thumbnail</h4>
                        <img src="assets/img/faces/clem-onojeghuo-3.jpg" class="img-thumbnail img-responsive" alt="Rounded Image">
                        <p class="text-center">Erik Faker</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</div>